/* =========================================================
   STARTER STYLES — Web Design Club
   This file is intentionally basic. It gives you layout and
   spacing, but none of today's UX/UI concepts have been
   applied yet. That's your job in the Polish Challenge:

   - Typography  → pick a font pairing, set hierarchy/readability
   - Graphics    → add a vector (SVG) graphic + an optimized raster image
   - Feedback    → add :hover / :focus / :active states
   - C.R.A.P.    → check contrast, repetition, alignment, proximity
   ========================================================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "fantasy",serif;
  color: #e3def0;
  line-height: 1.4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #7709aa;
  font-family: "times new roman",bold,sans-serif;
}

nav a {
  margin-left: 16px;
  color: #222;
}

.hero {
  padding: 60px 24px;
  text-align: center;
  background: #7709aa;
}

.about {
  display: flex;
  gap: 24px;
  padding: 40px 24px;
}

.about-text,
.about-image {
  flex: 1;
  color: #0c0b0b;
}

.image-placeholder {
  background: #7709aa;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8343d6;
}

.meetings {
  padding: 40px 24px;
  color: #0c0b0b;
}

.testimonials {
  padding: 40px 24px;
  background: #7709aa;
}

.signup {
  padding: 40px 24px;
}

.signup form {
  max-width: 300px;
}

.signup label {
  display: block;
  margin-top: 12px;
}

.signup input {
  display: block;
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.signup button {
  margin-top: 16px;
  padding: 8px 16px;
}

footer {
  padding: 20px 24px;
  text-align: center;
  background: #7709aa;
}
#banana:active {
  filter: grayscale(100%);
  transform: scale(10);
}
#banana {
 transform: scale(1);
}
.cta-btn {
  background-color: #124623;
  cursor: pointer;
}
.cta-btn:hover {
  background-color: red;
}
.cta-btn:active {
  animation: glowing 13ms infinite ease-in-out;
  width:2000px;
  height:2000px;
  align-items: center;
}
@keyframes glowing {
        0% {
          background-color: white;
          box-shadow: 0 0 5px #2ba805;
        }
        100% {
          background-color: black;
          box-shadow: 0 0 5px #2ba805;
        }
      }
.banan {
  height: 100px;
  width: 100px;
}
#rsvpBtn {
  margin: 10px 0px;
  height: 100px;
  width: 200px;
  font-size: 30px;
  background-color: #7709aa;
}
#join {
  color: #0c0b0b;
}
#rsvpCnt {
padding: 0 0 0 20px;
}